%flex_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.comments {

    &_post {
      padding: 0 50px 50px;
      font-weight: 400;
      font-size: 20px;
      h3 {
        width: unset;
        margin-left: -20px
      }
  
      div {
        @extend %flex_center;
        margin-bottom: 10px !important;
        
      }
      p {
        text-indent: 25px;
        line-height: 25px;
      }
      &_splitter {
        height: 2px;
        background: brown;
      }
    }
  
  
    &_bunch {
  
      &_item {
        margin: 20px 0;
        border:1px solid #E0E0E0;
        border-top: none;
        border-radius: 10px;
        
        font-weight: 400;
        line-height: 17px;
        
        div {
          @extend %flex_center;
          padding: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background: #E0E0E0;
        }
        p {
          padding: 20px;
          text-indent: 25px;
          line-height: 20px;
        }
      }
    }

    &_sendbutton {
      width: 220px;
      height: 50px;
      font-size: 15px;
      position: relative;
      left: 78.6%;
      margin: 20px 0;
    }

  }
  