%flex_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.comments {

    &_post {
      padding: 0 20px 20px;
      font-weight: 400;
      font-size: 20px;
  
      div {
        @extend %flex_center;
        margin-bottom: 10px;
      }
    }
  
  
    &_bunch {
  
      &_item {
        margin: 10px 0;
        padding: 10px;
        background-color:#ebe7ff;
        border-radius: 4px;
    
        font-weight: 400;
        line-height: 17px;
    
        div {
          @extend %flex_center;
        }
      }
    }

    &_sendbutton {
      width: 250px;
      height: 50px;
      font-size: 18px;
      position: relative;
      left: 69%;
      margin: 20px 0;
    }

  }
  