%flex_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_about {
    margin: 47px 0;
  
    &_info {
      margin-bottom: 50px;
      @extend %flex_center;
  
  
      &_description {
        width: 326px;
        text-align: left;
  
        div {
          height: 230px;
          width: 380px;
          margin: 10px 0;
          padding: 10px 0 0 40px;
  
  
          overflow-y: scroll;
          direction: rtl;
        }
  
        h5 {
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 20px;
        }
        p {
          color: #939393;
          font-size: 14px;
          line-height: 24px;
        }
      }
    
      &_form {
        width: 60%;
        height: 272px;
        border: 1px solid #DADADA;
  
        form {
          position: relative;
          padding: 15px;
          div {
            display: flex;
            flex-direction: column;
            span {
              font-size: 18px;
              line-height: 40px;
              text-align: left;
              padding-bottom: 10px;
            }
            input {
              height: 134px;
            }
          }
          button {
            position: absolute;
            width: 101px;
            right: 15px;
            bottom: -33px;
          }
        }
      }
    }
  
  
    &_band {
      @extend %flex_center;
      p {
        color: #939393;
        line-height: 24px;
        text-align: left;
      }
    }
  }