html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  padding: 0;
  margin: 0;
  border:0;
}
* {box-sizing: border-box;}
// Reset css over ====================================================================================================
%flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 0 15px;
  max-width: 1060px;
  margin: 0 auto;
}

// HEADER ==================================================

header {
  background-color: #101010;
  .header {
    height: 70px;
    @extend %flex_center;
  }
  .header_logo {
    font-family: 'Alegreya Sans SC';
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    text-transform: uppercase;
  }
}

.header_btn {
  background-color: white;
  height: 40px;
  margin-right: 12px;
  transition: all .2s ease-out;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: rgb(122, 122, 122);
    color: white
  }
  padding: 11.5px 40.5px;
  color: black;
  font-size: 14px;
  font-weight: 600;
}
// MAIN TOP ==================================================

.main_top {
  height: 439px;
  background: #000 url(img/topband.jpg) center center/cover no-repeat;
  // background: #000 url(img/topband.jpg) center center no-repeat;
  color: white;
  text-align: center;
  &_textarea {
    padding: 130px 0;
    background: radial-gradient(50% 40% at 50% 60%, #000000 0%, rgba(0, 0, 0, 0) 100%);
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    h1 {
      font-size: 50px;
      line-height: 60px;
    }
    h2 {
      font-size: 30px;
      line-height: 36px;
    }
  }



  &_slider {
    @extend %flex_center;
    button {
      margin-right: 0;
    }
    // background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 23.22%, rgba(0, 0, 0, 0.14) 42.37%, rgba(0, 0, 0, 0) 56.3%);
    // transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .slider_button {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    font-size: 24px;
    span {
      vertical-align: text-bottom;
    }
  }

}

// TICKETS ==================================================

.tickets {
  &_info {
    @extend %flex_center;
    padding-top: 31px;
  }

  &_users {
    margin-top: 16px;
    @extend %flex_center;
    &_person {
      width: 239px;
      height: 143px;
      background: linear-gradient(99.41deg, #496692 -13.51%, #303A55 113.28%);
      border: 1px solid #000000;
      
    }
  }
}



